body {
    background: #333;
    color: #fff;
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}
#holder {
    height: 480px;
    left: 50%;
    margin: -240px 0 0 -320px;
    position: absolute;
    top: 50%;
    width: 640px;
}

#errorbanner {
    top: 0px;
    background-color: #f66;
    color: black;
    font-weight: bold;
    text-align: center;
    width: 100%;
    /*display: none;*/
}

#score-section {
    /*float: left;*/
    /*width: 50%;*/
}

#color-section {
    /*width: 50%;*/
    /*float: right;*/
}

#join-section {
    margin-top: 20px;
}

#other-players-section {
    margin-top: 10px;
}

#other-players {
    margin-block-start: 0;
    padding-inline-start: 20px;
}

.hidden {
    display: none;
}

.unselected {
/*
    stroke: #000;
    stroke-width: 2px;
    opacity: 25%;
*/
    stroke: #000;
    stroke-width: 0px;
    /*opacity: 0%;*/
}

.cell {
    stroke: #000;
    stroke-width: 1px;
}
.cell.icon {
}
.cell.icon.glow {
    opacity: 0;
}
.cell.icon.glow.highlight {
    opacity: 1;
    animation-duration: 0.5s;
    animation-name: spin;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}
@keyframes spin {
  from {
  }

  to {
  }
}

.selected.interact {
    stroke: #0000;
    stroke-width: 0px;
}

.selected:not(.interact) {
    stroke: #000;
    stroke-width: 5px;
}

.selectable.interact {
    stroke: #0000;
    stroke-width: 10px;
}

.paused {
    animation-play-state: paused;
}

.selectable:not(.interact) {
    stroke: #00f;
    stroke-width: 3px;
    animation-duration: 1s;
    animation-name: colorbounce;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    /*animation-play-state: running, paused;*/
}
@keyframes colorbounce {
  from {
    stroke: #00f;
  }

  to {
    stroke: #f00;
  }
}
/*
.selectable:hover {
    stroke: #fff;
    stroke-width: 5px;
    animation-name: unset;
}
*/
.selectable:not(.interact).hover {
/*
    animation-name: colorbouncehover;
    animation-play-state: paused, running;
*/
    stroke-width: 5px;
    animation-duration: 1s, 0.5s;
    animation-name: colorbounce, colorbouncehover;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out, linear;
    animation-direction: alternate, normal;
}
@keyframes colorbouncehover {
  from {
    stroke: #070;
  }

  25% {
    stroke: #0f0;
  }

  75% {
    stroke: #000;
  }

  to {
    stroke: #070;
  }
}

.nicebutton {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.nicebutton:hover {
    background-color: rgba(255, 0, 0, 1);
}

.nicebutton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.bluebutton {
    background-color: rgba(0, 0, 220, 1);
}
.bluebutton:hover {
    background-color: rgba(0, 0, 255, 1);
}

#title {
    font-variant: small-caps;
    font-size: 3em;
    margin-bottom: 20px;
}

/*
vim: et:ts=4:sw=4:si:ai:
*/
