html {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    background: #333;
    color: #fff;
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
#holder {
    min-height: 100%;
}

#landing {
    max-width: 800px;
}

#banner {
    top: -2em;
    margin-bottom: -2em;
    height: 2em;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

#bannermsg {
}

#banner {
    background-color: #6f6;
    color: black;
}

#banner.error {
    background-color: #f66;
    color: black;
}

#score-section {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    text-align: initial;
}

#score-message {
    font-size: 6em;
    text-align: center;
}

#myname-section {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    text-align: center;
}

#color-section {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    text-align: center;
}

#color-message {
    text-align: center;
    margin-bottom: 5px;
}

#rounds-section {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}
#rounds-left-message {
    text-align: center;
}

#rounds-left {
    font-size: 3em;
    text-align: center;
}

#moves-left-message {
    text-align: center;
}

#moves-section {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

#moves-left {
    font-size: 5em;
    text-align: center;
}

#bonus-moves-message {
    text-align: center;
}

#bonus-moves-section {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

#bonus-moves {
    font-size: 6em;
    text-align: center;
}

.patchcontainer {
    display: inline-block;
    text-align: center;
}

.patch {
    width: 3em;
    height: 3em;
    border: 1px solid white;
    border-radius: 5px;
}

.patch.small {
    width: 2em;
    height: 2em;
}

.patch.wild {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
/* FIXME: should be possible to animate the different linear gradients if they are separate and stacked and instead animate the opacities around. */
/*    animation-duration: 1.5s;
    animation-name: wild;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    */
}
/*
@keyframes wild {
  from {
    background-color: #f004;
  }

  25% {
    background-color: #0f04;
  }

  75% {
    background-color: #00f4;
  }

  to {
    background-color: #f004;
  }
}
*/
/*
@keyframes wild {
  from {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  }

  25% {
    background: linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%),
                linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%);
  }

  75% {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  }

  to {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  }
}
*/

#join-section {
    margin-top: 20px;
}

#points-section {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    text-align: initial;
}
#points-section img {
    vertical-align: middle;
}

.pointsicon {
    width: 1.5em;
}

#other-players-section {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    text-align: initial;
}

#other-players {
    margin-block-start: 0;
    padding-inline-start: 20px;
}

.hidden {
    display: none;
}

.unselected {
/*
    stroke: #000;
    stroke-width: 2px;
    opacity: 25%;
*/
    stroke: #000;
    stroke-width: 0px;
    /*opacity: 0%;*/
}

.cell {
    stroke: #000;
    stroke-width: 1px;
}
.cell.icon {
}
.cell.icon.glow {
    opacity: 0;
}
.cell.icon.glow.highlight {
    opacity: 1;
    animation-duration: 0.5s;
    animation-name: spin;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}
@keyframes spin {
  from {
  }

  to {
  }
}

.selected.interact {
    stroke: #0000;
    stroke-width: 0px;
}

.selected:not(.interact) {
    stroke: #000;
    stroke-width: 5px;
}

.selectable.interact {
    stroke: #0000;
    stroke-width: 10px;
}

.paused {
    animation-play-state: paused;
}

.selectable:not(.interact) {
    stroke: #00f;
    stroke-width: 3px;
    animation-duration: 1s;
    animation-name: colorbounce;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    /*animation-play-state: running, paused;*/
}
@keyframes colorbounce {
  from {
    stroke: #00f;
  }

  to {
    stroke: #f00;
  }
}
/*
.selectable:hover {
    stroke: #fff;
    stroke-width: 5px;
    animation-name: unset;
}
*/
.selectable:not(.interact).hover {
/*
    animation-name: colorbouncehover;
    animation-play-state: paused, running;
*/
    stroke-width: 5px;
    animation-duration: 1s, 0.5s;
    animation-name: colorbounce, colorbouncehover;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out, linear;
    animation-direction: alternate, normal;
}
@keyframes colorbouncehover {
  from {
    stroke: #070;
  }

  25% {
    stroke: #0f0;
  }

  75% {
    stroke: #000;
  }

  to {
    stroke: #070;
  }
}

.nicebutton {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.nicebutton:hover {
    background-color: rgba(255, 0, 0, 1);
}

.nicebutton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.bluebutton {
    background-color: rgba(0, 0, 220, 1);
}
.bluebutton:hover {
    background-color: rgba(0, 0, 255, 1);
}

#title {
    font-family: serif;
    font-variant: small-caps;
    font-size: 3em;
    margin-bottom: 0.5em;
}

#title img {
    height: 2em;
    display: block;
    margin-bottom: -0.5em;
}

#content {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

#left {
    padding: 10px;
    flex: min-content;
    text-align: center;
}

#right {
    padding: 10px;
    flex: min-content;
    text-align: center;
}

#center {
    padding: 10px;
    flex: 2;
}

#saladcopbonus {
    position: absolute;
    top: 50vh;
    margin-top: -45vh;
    left: 50vw;
    margin-left: -45vh;
    height: 90vh;
}

#saladcopbonus.appear {
    animation-duration: 1.0s;
    animation-name: saladcopappear;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}

#saladcopbonus.disappear {
    animation-duration: 0.5s;
    animation-name: saladcopdisappear;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}

@keyframes saladcopappear {
  from {
    transform: scale(0) rotate(0deg);
  }

  to {
    transform: scale(1) rotate(720deg);
  }
}

@keyframes saladcopdisappear {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}

/*
vim: et:ts=4:sw=4:si:ai:
*/
